

.xfeature-block.border-t{
    border-top: #ddd 1px solid;
}
.xfeature-block.border-l{
    border-left: #ddd 1px solid;
}
.xfeature-block.border-b{
    border-bottom: #ddd 1px solid;
}
.xfeature-block.border-r{
    border-right: #ddd 1px solid;
}
.article-block__footer {
    display: flex;
}

.xfeature-block{
    padding: 30px 0;
}

.article-block__mute_label {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.article-block__button {
    background: #ffe474;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 10px;
}
.article-block__footer {
    flex-direction: column-reverse;
}

.article-block__button {
    display: block;
    width: 100%;
    text-align: center;
}


.article-block__mute_label {
    margin-bottom: 10px;
}

a.article-block__image{
    text-align: center;
    display: block;
}

.article-block__wrap{
    margin-bottom:20px;
}

@media only screen and (min-width:768px){

    a.article-block__image{
        text-align: center;
        display: block;
    }
    
    .article-block__mute_label {
         margin-bottom: 0;
    }

    .article-block__footer {
        flex-direction: inherit;
        display: inherit;
    }

    .article-block__button {
        display: inline-block;
        min-width:110px;
        width: inherit;
    }
    

    .article-block__mute_label {
    margin-left: 15px;
    }
    .article-block__content {
        display: flex;
        overflow: hidden;
    }
    .article-block__image {
        flex-shrink: 0;
        margin-right: 25px;
        width: 270px;
        height: 270px;
    }
    .article-block__box, .article-block__wrap {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .article-block__box {
        display: flex;
    }

    .article-block__wrap{
        margin-bottom:0;
    }
    .article-block__controls{
        max-width: 40px;
        padding-top: 5px;
    }


}

.shareicons-resp-share-element{position:relative;padding:0;margin:0;font-size:0;line-height:0}
.shareicons-resp-share-element:after,.shareicons-resp-share-element:before{content:" ";display:table}
.shareicons-resp-share-element.shareicons-mobile .at4-share-count-container,.shareicons-resp-share-element.shareicons-mobile .shareicons-label{display:none}
.shareicons-resp-share-element .shareicons-share-btn{display:inline-block;*display:inline;*zoom:1;margin:0 2px 5px;padding:0;overflow:hidden;line-height:0;text-decoration:none;text-transform:none;color:#fff;cursor:pointer;transition:all .2s ease-in-out;border:0;font-family:helvetica neue,helvetica,arial,sans-serif;background-color:transparent}
.shareicons-resp-share-element .shareicons-share-btn::-moz-focus-inner{border:0;padding:0}
.shareicons-resp-share-element .shareicons-share-btn:focus,.shareicons-resp-share-element .shareicons-share-btn:hover{transform:scale(1.1);color:#fff;text-decoration:none}
.shareicons-resp-share-element .shareicons-share-btn .shareicons-icon-wrapper{float:left}
.shareicons-resp-share-element .shareicons-share-btn.shareicons-share-btn.shareicons-svc-compact:hover{transform:none}
.shareicons-resp-share-element .shareicons-share-btn .shareicons-label{font-family:helvetica neue,helvetica,arial,sans-serif;font-size:9pt;padding:0 15px 0 0;margin:0 0 0 5px;height:2pc;line-height:2pc;background:none}
.shareicons-resp-share-element .shareicons-icon,.shareicons-resp-share-element .shareicons-label{cursor:pointer}.shareicons-resp-share-element .at4-share-count-container{text-decoration:none;float:right;padding-right:15px;font-size:9pt}
.shareicons-mobile .shareicons-resp-share-element .shareicons-label{display:none}
.shareicons-resp-share-element.shareicons-mobile .shareicons-share-btn{margin-right:5px}.shareicons-mobile .shareicons-resp-share-element 
.shareicons-share-btn{padding:5px;margin-right:5px}


.shareicons-icon-wrapper.shareicons-share-btn {
    padding: 5px;
}
